# java
*.class

# gradle
.gradle
build

# intellij
.idea
*.iml
out

# mvn
target
secrets.xml

# logging
# Should be ignored for javarosa, but not for xform-test
#logback.xml
#logback-test.xml

# OS X
.DS_Store
